{% extends 'base.html' %}



{% block title %}
CopyKat | Teacher Dashboard
{% endblock %}




{% block content %}



<div class="container py-5">



<div class="box">


<h1 class="fw-bold">

Teacher Dashboard

</h1>



<h4>

Welcome {{request.user.full_name}}

</h4>





<hr>





<h2>
Student Submissions
</h2>





{% for assignment in assignments %}




<div class="assignment">


<h3>

{{assignment.title}}

</h3>



<p>

Student:

{{assignment.student.full_name}}

</p>




<p>

Semester:

{{assignment.semester}}

</p>




<p>

Similarity:

{{assignment.similarity_percentage}}%

</p>





<a 
href="{% url 'teacher_review' assignment.id %}"
class="btn btn-warning border border-dark rounded-pill"
>

Review

</a>



</div>




{% empty %}


<p>
No assignments available.
</p>


{% endfor %}




</div>


</div>




{% endblock %}